<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="AreaRestritaAdministrador">CompraVenda</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="AreaRestritaAdministrador">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CategoriaController?option=get">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ClienteController?option=get">Clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="FornecedorController?option=get">Fornecedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="FuncionarioController?option=get">Funcion&aacuterios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CompraController?option=get">Compras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="VendaController?option=get">Vendas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ProdutoController?option=get">Produtos</a>
        </li>
        <li class="nav-item">
        <% if (session != null) {
                if (session.getAttribute("papelExt") == "Administrador" ||
                    session.getAttribute("papelExt") == "Vendedor" ||
                    session.getAttribute("papelExt") == "Comprador") {
        %>
                    <a class="nav-link" href="LogoutController">Logout</a>
        <%
                }
            } else {
        %>
                <a class="nav-link" href="LoginController">Login</a>
        <%       
            } 
        %>
        </li>
    </ul>
  </div>
</nav>